.container {
  /* border: rgb(241, 231, 211); */
  width: 900px;
  height: max-content;

  margin-top: 100px;
  margin-left: 150px;
  margin-right: 50px;
  padding-left: 30px;
}
Thead Tr {
  font-family: "Source Code Pro", monospace;
  font-size: larger;
  color: rgb(239, 235, 235);
}
Th Tr {
  /* border-left: 2px solid white; */
}

tbody {
  /* border: 2px solid white; */
  /* border-radius: ; */
}

tbody tr {
  /* border: 2px solid white; */
}
tbody tr td {
  align-items: center;
  justify-content: center;
  color: rgb(239, 235, 235);
  font-family: "Source Code Pro", monospace;
  font-size: larger;
  font-weight: 400;
}
